@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  @apply text-gray-100;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-700 hover:bg-gray-600;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #111827;
}
